/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-family),'Arial', sans-serif;
  background-image:var(--background-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight),400;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 100px auto 102px;
  border: 2px solid #000;
  padding: clamp(6.67rem, 6.5186rem + 0.7268vw, 7.1rem) clamp(0rem, -2.3486rem + 11.2732vw, 6.67rem);
  font-family: var(--font-family-accent);
  background-color: rgba(255, 255, 255, 1);
 max-inline-size: 700px;
}

.header_logo {
margin-block-start: 13px;
  font-size: 49px;
}
.header_title {
margin-block-end: 13px;
font-size: 14px;
  text-transform: uppercase;
}
/*main*/

.main {
  background-color: rgba(255, 255, 255, 1); 
}

.post {
  position: relative;
  border: 2px solid  rgba(0, 0, 0, 1);
  margin-block-end: 50px;
}

.post_title {
  font-size: var(--font-size);
  font-weight: var(--font-weight-title);
  padding:3px 11px;
}

.post_image_container {
  position: relative;
block-size: 377px;
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  margin-block-end: 25px;
}

.post_imege {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size:100%;
  block-size: 100%;
}

.post_watermark{
  position: absolute;
  right: 10px;
  top:25px;
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: 14px;
  color: rgba(0, 0, 0, 1);
  text-shadow: 
  -1px -1px 0 var(--stroke-color),
  1px -1px 0 var(--stroke-color),
 -1px 1px 0 var(--stroke-color),
  1px 1px 0 var(--stroke-color);
  mix-blend-mode: soft-light;
}

@supports (
  (
      (text-stroke: 1px var(--stroke-color)) or
        (-webkit-text-stroke: 1px var(--stroke-color))
    )
    and (mix-blend-mode: soft-light)
) {
  .post_watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    mix-blend-mode: soft-light;
  }
}

.post_content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 20px 26px 20px 26px;
  font-size: var(--font-size);
line-height: 117%;


}
.post_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 9px;
  margin-block-end: 8px;
  
  
}
.card__icon-button {
  border:none;
  background-color: initial;
}

.card__like-button {
  border:none;
  background-color: initial;
  padding: 10px 35px;
  font-family: var(--font-family-accent);
  font-size: 14px;
  outline: 2px solid rgba(0,0,0,1);
}

.footer {
  margin-block-start: 54px;
  background-color: aqua;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
 border-color: blueviolet;
 border: 2px solid rgba(0, 0, 0, 1);
 margin-inline-start: 100px;0
}
.floppy {
  
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
} 



