/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-family), "Arial", sans-serif;
  background-image: var(--background-gradient);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight), 400;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 100px auto 101px;
  border: 2px solid var(--border-color);
  padding: clamp(6.67rem, 6.5186rem + 0.7268vw, 7.1rem)
    clamp(0rem, -2.3486rem + 11.2732vw, 6.67rem);
  font-family: var(--font-family-accent);
background-color: var(--background-color);
  max-inline-size: 698px;
}

.header_logo {
  margin-block-start: 17px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header_title {
  margin-block-end: 13px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}
/*main*/

.main {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 52px;
}

.post {
  margin-inline: clamp(0rem, -27.1612rem + 130.3738vw, 23.25rem);
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
}

.post_title {
  padding: 4px 9px;
  font-weight: var(--font-weight-title);
  font-size: var(--font-size);
}

.post_image_container {
  position: relative;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.post_image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

/*filters*/

.image-first-strint {
  filter: contrast(200%);
}

.image-first-sprint-part {
  filter: brightness(200%);
}

.image-second-sprint {
  filter: hue-rotate(-90deg);
}

.image-second-sprint-part {
  filter: saturate(158%);
}

.third-sprint {
  filter: grayscale(0.8);
}

.third-sprint-part {
  filter: blur(0.2rem);
}

.image-now {
  filter: blur(0.1rem) saturate(158%);
}

.post_watermark {
  position: absolute;
  top: 27px;
  right: 25px;
  opacity: 0.5;
  color: rgba(0, 0, 0, 1);
  font-family: var(--font-family-accent),'Pixel Emulator font', sans-serif;
  font-size: var(--watermark-size);
  line-height: 14px;
  text-shadow: -1px -1px 0 var(--stroke-color), 1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color), 1px 1px 0 var(--stroke-color);
  mix-blend-mode: hard-light;
}

@supports (
  (
      (text-stroke: 1px var(--stroke-color)) or
        (-webkit-text-stroke: 1px var(--stroke-color))
    )
    and (mix-blend-mode: hard-light)
) {
  .post_watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    mix-blend-mode: hard-light;
  }
}

.post_content {
  display: flex;
  flex-direction: column;
  gap: 25.8px;
  margin: 31px 24.5px 19px 22px;
  font-size: var(--font-size);
  line-height: 117%;
}

.footer {
  padding-block-end: 70px;
}

.floppy-dialog {
  width: 39px;
  height: 39px;
}

.dialog {
  width: calc(100vw * (353 / 1440));
  min-width: 341px;
  border: 2px solid var(--border-color);
  padding: 30px;
  background: var(--background-color);
}

.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--text-color);
}

.dialog__request {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: var(--font-family-accent),'Pixel Emulator font', sans-serif;
  font-size: var(--watermark-size);
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__button {
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 38px;
  border: none;
  padding: 9px 17px;
  outline: 2px solid var(--border-color);
  color: var(--text-color);
  font-family: var(--font-family-accent),'Pixel Emulator font', sans-serif;
  font-size: 14px;
  background-color: var(--background-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

/*Buttons*/

.post_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 2px solid var(--border-color);
  overflow: hidden;
  color: var(--color-difference);
  font-family: var(--font-family-accent),'Pixel Emulator font', sans-serif;
  font-size: 14px;
  background-color: var(--background-color);
  cursor: pointer;
}

.card__icon-button {
  border: none;
  outline: 2px transparent solid;
  background-color: inherit;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--border-color);
  background-color: var(--background-color);
  transition: 0.3s ease;
}

.card__icon-button:focus {
  text-decoration: none;
}
.contour {
  color: var(--icon-color);
}

.main-body {
  color: transparent;
}

.core {
  color: transparent;
}

.sparks {
  opacity: 0;
  color: var(--sparks-color);
}

.card__like-button {
  margin-inline-end: 2px;
  margin-block-end: 7px;
  padding-inline: 35px;
  max-inline-size: 126px;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
}

.button_save {
  min-height: 51px;
}

.button_svg-text {
  display: flex;
  flex-direction: row;
  place-self: center;
  justify-content: center;
  align-items: center;
  gap: 6px;
  min-height: 51px;
  padding-inline: 21px;
}

.button_svg-text svg {
  position: relative;
  mix-blend-mode: difference;
}

.button:focus-visible {
  box-shadow: 4px 4px 0 var(--border-color);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.button:focus {
  text-decoration: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--background-color-difference);
  transition: width 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

@media (width <= 375.2px) {
  .post {
    margin: 0 auto;
  }
  .post_content {
    gap: 26px;
    margin: 0;
    padding: 25px 26px 20px 25px;
    line-height: 117%;
  }
  .header_logo {
    margin-block-start: 14px;
  }
  .button_svg-text {
    flex-direction: column;
    min-height: 84px;
  }
  .floppy-svg {
    width: 28px;
    height: 28px;
  }

  .post_watermark {
    top: 24px;
    right: 11px;
    opacity: 0.5;
    mix-blend-mode: hard-light;
  }
}
